<div class="container">
  <div class="row info">
    <div class="col-md-1">
		</div>
		<div class="col-md-5">
      <h3>Fier op ons eigen bier: ‘Den Brouillon’</h3><br>
      <p>In 2014 bestaat, jeugdcafé en tweede thuis voor vele jongeren in en rond Hoogstraten, Cahier de Brouillon vzw 35 jaar. Ten minste op papier. In 1979 werd immers ‘het Manifest’, waarin de oprichters de basisbeginselen van een eigen jeugdclub optekenen, ondertekend.</p>
      <p>Om deze gelegenheid extra in de verf te zetten borrelt het idee om een eigen bier uit te brengen. Omdat het bestuur enkel ervaring heeft met het consumeren en niet met het produceren van bier, gaat het op zoek naar een geschikte partner met de nodige ervaring. Het vindt deze in René Schoofs van <a href='https://www.facebook.com/brouwerijvagebond/' class="mail">Brouwerij Vagebond</a> uit Merksplas</p>
      <p>Samen wordt er gebrouwen en geproefd om te komen tot een bier dat het eigenzinnige karakter, de originaliteit en de spontaniteit van de Cahier weerspiegelt. Een ongepasteuriseerd en ongefilterd natuurbier met hergisting op de fles. Een zwaar bier gebrouwen met 100% natuurlijke ingrediënten. ‘Den Brouillon’ is koperkleurig en wordt gebrouwen met twee verschillende hopsoorten.</p>
      <p>We kunnen je wel vertellen dat hij lekker is. Maar dat kan je alleen voor jezelf uitmaken. Kom hem proeven en vertel ons wat je er van vindt. Nergens anders ter wereld te verkrijgen. Slechts één adres. Cahier de Brouillon vzw, Vrijheid 84 in Hoogstraten.</p>
      <h4>Santé!</h4>
      <p>‘Den Brouillon’ werd met veel trompettergeschal aangekondigd aan de hand van de leuze: “Tussen rewind, stop en play zit een pauze. Die neem je met een BROUILLON.” En volgend <a href="https://www.youtube.com/watch?v=qWBAnoFjcTo" class="mail">filmpje</p>
    </div>
    <div class="col-md-1">
		</div>
		<div class="col-md-5">
      <br>
      <br>
      <br>
      <%= image_tag "brouillonbank.jpg" %>
      <br>
      <br>
    </div>
  </div>
</div>
