<div class="container">

	<div class="row info">
	<div class="col-md-1"></div>
		<div class="col-md-3 contact-block">
			<h3 class="contact-title">ADRES</h3>
		</div>
	</div>

	<div class="row contact-context">
		<div class="col-md-1"></div>
    <div class="col-md-11"> 
			<p>VZW Cahier de Brouillon<br/>
			Vrijheid 84<br/>
			2320 Hoogstraten</p>
			<a href="mailto:info@cahier.be" class="mail"><h4>info@cahier.be</h4></a>
		</div>
	</div>

	<div class="row border">
	</div>

	<div class="row info">
	<div class="col-md-1"></div>
		<div class="col-md-3 contact-block">
			<h3 class="contact-title">BOOKINGS</h3>
		</div>
	</div>

	<div class="row contact-context">
		<div class="col-md-1"></div>
    <div class="col-md-5"> 
			<p>Ben je een DJ op zoek naar gigs? Of zoek je met je band nog locaties om op te treden?</p>
			<a href="mailto:bookings@cahier.be" class="mail"><h4>Drop a line!</h4></a>
		</div>
		<div class="col-md-5">
			<%= image_tag "Contact_pelle_250px_transp.png" %>
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
	</div>

	<div class="row border">
	</div>

	<div class="row info">
	<div class="col-md-1"></div>
		<div class="col-md-3 contact-block">
			<h3 class="contact-title">CARTE BLANCHE</h3>
		</div>
	</div>

	<div class="row contact-context">
		<div class="col-md-1"></div>
    <div class="col-md-5"> 
			<p><strong>Met Carte Blanche stimuleren we de jeugd om met een leuk idee afkomen.</strong></p>

			<p>Dit kan héél breed zijn: DJ’s, bands, stand up comedie, een spelletjesavond, thema-avonden, danscursussen... noem maar op!  We laten het concept aan jullie over. Als jullie idee volgens ons potentieel heeft, dan zullen we hiervoor een budget vrijmaken waar jullie naar believen mee kunnen werken. Er zal dus een samenwerking ontstaan tussen ons.</p>

			<p>Jullie moeten je geen zorgen maken over het praktische, technische gedeelte want daar krijgen jullie natuurlijk hulp voor.</p>

			<p>Zie je dit zitten?  Laat dan hier je idee achter, dan kunnen we er samen een bangelijk feestje van maken.<br/>
			We hopen op veel reactie en leuke ideeën!</p>

			<a href="mailto:feest@cahier.be" class="mail"><h3>Shoot!</h3></a><br/>
			<br/>
		</div>
		<div class="col-md-5">
			<%= image_tag "Contact_stef_250px_transp.png" %>
		</div>
	</div>
</div>