<div class="container">
	<div class="row">
		<a class="<%= active_class("/events") %> inteam" href="/events"><h1>Optredens en fuifen</h1></a>
	</div>
	<div class="row">
		<a class="<%= active_class("/albums") %> inteam" href="/albums"><h1>Foto's</h1></a>
	</div>
</div>
