// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#event_date_1i, #event_date_2i, #event_date_3i {
	color: #000;
}

#event_affiche {
	color: #fff;
}

.affiche {
	display: inline-block;
    max-width:25%;
    width: auto;
    height: auto;
}