// Place all the styles related to the Inteam controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inteam h1 {
  color: #fff;
  text-align: center;
}

.inteam h1:hover {
  color: #EE7718;
}
