// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// INDEX

.info {
	padding-top: 60px;
}

#myCarousel {
	padding-top: 50px;
}

.carousel-inner > .item {
	max-height: 750px;
	overflow: hidden;
}

// CONTACT


.contact-block {
	height: 50px;
	background-color: #000;
}

.contact-title {
	padding-left: 50px;
	line-height: 50px;
	margin: 0;
	color: #fff;
	font-size: 14pt;
}

.contact-context {
	padding-top: 30px;
	font-size: 12pt;
}

.border {
	padding-top: 30px;
	border-bottom: solid 1px;
}

// AGENDA
.agenda {
	padding-top: 60px;
}

.a_Affiche, .hAffiche{
	 position: absolute;
}

.a_Affiche { 
left: 0;
right: 0;
top: 50% !important;
transform: translate(0,-50%); // IE9
transform: translate3d(0,-50%,0); // Modern Browsers - better performance
margin: 0 auto;
padding: 0 1.85% !important;
}

.tba {
	padding: auto 10px;
}

.hAffiche {
	top: 0;
}

.hAffiche  {
	opacity: 0;

}

.hAffiche:hover {
	opacity: 1;
}

.hAffiche h1 {
	position: absolute;
	top: 50% !important;
	left: 25%;
	transform: translate(0,-50%); // IE9
	transform: translate3d(0,-50%,0); // Modern Browsers - better performance
	margin: 0 auto;
	color: #fff;
}

.owl-maand, .prev, .next {
	cursor: pointer;
}

.vCenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.schuin {
	background-color: #000000; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #000000 0%, #000000 50%, #ffffff 50%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#000000), color-stop(50%,#000000), color-stop(50%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #000000 0%,#000000 50%,#ffffff 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #000000 0%,#000000 50%,#ffffff 50%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #000000 0%,#000000 50%,#ffffff 50%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(135deg, #000000 0%,#000000 50%,#ffffff 50%,#ffffff 100%);
}

.zwart {
	background-color: #000;
}
.wit {
	background-color: #fff;
	color: #000;
}

.event {
	margin: auto 5%;
}