// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.box {
	padding: 0 !important;
	overflow: hidden;
	border-radius: 0px !important;
}

.box img {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out;
}

.box img:hover {
-webkit-transform: scale(1.2,1.2);
-moz-transform: scale(1.2,1.2);
transform: scale(1.2,1.2);
}

html {
    margin-right: 0 !important;
    overflow: visible !important;
}

#photo_photo {
	color: #fff;
}
