<div class="border-footer"></div>
<div class="foot-white">
		<%= image_tag "rewindstopplay.png", {:class =>"logo-foot"} %>
</div>

<div class="foot-trans">
	<p>DESIGN BY HENDRIK STROBBE /  CODE BY KRISTOFF BRUYNINCKX  /  © 1979 - 2016 - VZW Cahier de Brouillon - alle rechten voorbehouden </p>
</div>
